.container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
}
ul {
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border: 1px solid rebeccapurple;
  border-radius: 3rem;
  margin: .5rem;

}
ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f1f1f1;
}
ul li :last-child{
border: none;
}
ul li img {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  object-fit: cover;
}
ul li div {
  padding: 1rem;
}
ul li div:not(:first-child){
flex-basis: 18%;
}
ul li select {
  width: 3rem;
  border: none;
  border-bottom: 4px solid rgb(97, 31, 31) ;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
}
ul .remove-btn {
border-radius: 1rem;
padding: .5rem 1rem;
border: none;
outline: none;
color: rgb(241, 139, 14);
font-weight: 600;
opacity: .7;
&:hover {
  color: red;
  cursor: pointer;
}
}
.check-out {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 3 ;
  height: 20rem;
  border: 1px solid rgb(97, 31, 31) ;
  border-radius: 1rem;
  padding: .5rem;
  margin: .5rem;
}
.check-out div {
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.check-out .foods-count::before {
content: "Count";
color: rgb(241, 139, 14);

}
.check-out .total-price::before {
  content: "Price";
  color: rgb(241, 139, 14);

  }
