<app-not-found [visible]="!food " notFoundMessage="You don't have item with id "  resetLinkText="Go To home Page" routerLink=""  ></app-not-found>

<div class="container" *ngIf="food">
  <img src="{{food.imageUrl}}" [alt]="'NotFound'">
  <div class="details">
    <div class="header">
      <span class="name"> {{food.name}} </span>

      <span class="favorite {{food.favorite?'' :'not'}} "> ♥ </span>
    </div>
      <div class="rating">
        <igc-rating class="stars" value=" {{food.stars}} "  min="1" max="5" [style]="{'size' :'50px'}" ></igc-rating>

      </div>
      <div class="origins">
        <span *ngFor="let origin of food.origins"> {{origin}} </span>
      </div>
      <div class="tags">
        <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
      </div>
      <div class="cook-time">
        <span> Time For Coocking <strong>{{food.cookTime}} Mnts</strong> </span>
      </div>
      <div class="price">
        <span> {{food.price|currency}} </span>
      </div>
      <button (click)="addToCard()">Add To Card</button>

  </div>
</div>
